<main id="about">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div>
                    <img src="img/portfolio_picture.jpg" alt="portfolio picture">
                </div>
            </div>
            <div class="col-7">
                <h3>Sarom Thin</h3>
                <h5>Computer Science major from CSU Monterey Bay</h5>
                <p>I'm currently an undergraduate student at CSU Monterey Bay
                   pursuing a Computer Science degree. My expected graduation
                   will be this December of 2022. I also have 5 years experience 
                   working in the IT field. </p>
                <p></p>
            </div>
        </div>
        <div class="row"></div>
    </div>
</main>