<main id="about">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div id="main-image" class="col-2 align-self-end">
                <div>
                    <img src="img/portfolio_picture.jpg" alt="portfolio picture">
                </div>
            </div>
            <div id="main-content" class="col-5 align-self-start">
                <h3>Sarom Thin</h3>
                <h5>Computer Science major from CSU Monterey Bay</h5>
                <p>I'm currently an undergraduate student at CSU Monterey Bay
                   pursuing a Computer Science degree. My expected graduation
                   will be this December of 2022. I also have 5 years experience 
                   working in the IT field. </p>
                <p>I have a strong interest in software development, data 
                   science, and game design. Overall, I have a passion for technology.
                   Bonus things about me is that I like cycling, food and studying the
                   Japanese Language.</p>
            </div>
            <div>
                <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row"></div>
    </div>
</main>