<main id="about">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div id="main-image" class="col-2 align-self-end">
                <div>
                    <img src="img/portfolio_picture.jpg" alt="portfolio picture">
                </div>
            </div>
            <div id="main-content" class="col-5 align-self-start">
                <h3>Sarom Thin</h3>
                <h5>Computer Science major from CSU Monterey Bay</h5>
                <p>I'm currently an undergraduate student at CSU Monterey Bay
                   pursuing a Computer Science degree. My expected graduation
                   will be this December of 2022. I also have 5 years experience 
                   working in the IT field. </p>
                <p>I have a strong interest in software development, data 
                   science, and game design. Overall, I have a passion for technology.
                   Bonus things about me is that I like cycling, food and studying the
                   Japanese Language.</p>
        <div id="icons">
                    <a href="https://www.linkedin.com/in/sarom-thin" target="blank"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
                    <a href="https://github.com/lom360" target="blank"><i class="fa fa-github-square fa-4x" aria-hidden="true"></i></a>
                        <!-- Button trigger modal -->
                    <button type="button" class="btn resume-btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <!-- <i class="fa fa-file-pdf-o" aria-hidden="true"></i> -->
                        <i class="fa-solid fa-file-lines"></i>Resume
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">My Resume</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="resume">
                                    <!-- <iframe src="files/SaromThinResume_Redacted.pdf" width="700" height="800"></iframe> -->
                                    <img src="img/ResumeImage.jpg" alt="Image of my Resume">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
        <div class="row"></div>
    </div>
</main>