
<script src="js/script.js"></script>
<script src="js/js/bootstrap.min.js"></script>

<footer>
    <h6>Photo by <a href="https://unsplash.com/@ghpvisuals?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Grant Porter</a> on <a href="https://unsplash.com/s/photos/fresno?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </h6>
</footer>
</body>
</html>