<header id="head">
    <div class="container">
        <div class="row justify-content-center">
            <div id="portfolio" class="col-4">
                <img src="img/portfolio_picture.jpg" alt="Portfolio Picture">
            </div>
        </div>
        <div class="row">
            <div id="my-name" class="col-6">
                <h1>Sarom Thin</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div id="summary" class="col-10">
                <h3>Computer Science Undergrad(Final Semester) - IT Technician</h3>
            </div>
        </div>
        <div class="row">
            <div id="portfolio-btn" class="col-3">
                <button type="button" class="btn btn-light">Enter Portfolio</button>
            </div>
        </div>
    </div>
</header>