<section id="projects" class="container">
    <div id="projects-title" class="row justify-content-center">
        <div class="col-4 d-flex justify-content-center">
            <h1>CSUMB</h1>
        </div>
    </div>
    <div id="projects-content" class="row justify-content-center">
        <a href="#" class="hover-test" data-toggle="modal" data-target="#cst300">
            <div class="box cst300">
                <div class="box-header">
                    <h3>CST300</h3>
                </div>
                <div class="box-body">
                    <p>Helps students identify and articulate personal, professional, and social goals. Provides an integrated 
                        overview of the computer science and communication design majors and their requirements. Students develop 
                        a plan for their learning goals. Students learn writing, presentation, research and critical-thinking skills 
                        within the diversified fields of information technology and communication design. Students learn how to analyze, 
                        predict, and articulate trends in the academic, public service.</p>
                </div>
            </div>
        </a>
        <div class="modal fade" id="cst300" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">CST300: Major Pro Seminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="pdf-container">
                        <iframe class="pdf" src="../img/cst300/Thin_Ethics_Argument_Paper.pdf" frameborder="0" height="100%" width="100%"></iframe>
                    </div>
                </div>
                <div class="modal-footer cst300-footer">
                    <a class="modal-link btn resume-btn btn-primary" href="https://github.com/lom360" target="blank"><span>GitHub Repo Coming Soon</span></a>
                </div>
            </div>
            </div>
        </div>

        <a href="#" data-toggle="modal" data-target="#cst338">
            <div class="box cst338">
                <div class="box-header">
                    <h3>CST338</h3>
                </div>
                <div class="box-body">
                    <p>Provides students with the fundamental concepts to develop 
                        large-scale software, focusing on the object-oriented 
                        programming techniques. Coverage includes the introduction 
                        to Java programming language, object-oriented programming, 
                        software life cycle and development processes, requirements
                         analysis, and graphical user interface development.</p>
                </div>
            </div>
        </a>
        <div class="modal fade" id="cst338" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">CST338: Software Design</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                        <img src="img/cst338/card-game.png" alt="card-game-example">
                        <%- include('cst338.ejs') %> 
                </div>
                <div class="modal-footer">
                    <a class="modal-link btn resume-btn btn-primary" href="https://github.com/lom360" target="blank"><span>GitHub Repo Coming Soon</span></a>
                </div>
            </div>
            </div>
        </div>

        <a href="#" data-toggle="modal" data-target="#cst334">
            <div class="box cst334">
                <div class="box-header">
                    <h3>CST334</h3>
                </div>
                <div class="box-body">
                    <p>Students in this course will learn about the use and design 
                        of modern operating systems, focusing on Linux. On the 
                        “use” side, students will learn the Linux command line, to 
                        write shell scripts, and to build programs with GNU 
                        utilities like awk, sed, and make. On the “design” side, 
                        students will develop a deep understanding of process 
                        management, memory management, file systems, and 
                        concurrency, and how they apply to modern technologies like
                         virtualization and cloud computing.</p>
                </div>
            </div>
        </a>
        <div class="modal fade" id="cst334" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">CST334: Operating Systems</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <h5>USRA Power Point Presentation</h5>
                    <img src="img/cst334/USRA.gif" alt="power point gif">
                </div>
                <div class="modal-footer">
                    <a class="modal-link btn resume-btn btn-primary" href="https://github.com/lom360" target="blank"><span>GitHub Repo Coming Soon</span></a>
                </div>
            </div>
            </div>
        </div>

        <a href="#" data-toggle="modal" data-target="#cst363">
            <div class="box cst363">
                <div class="box-header">
                    <h3>CST363</h3>
                </div>
                <div class="box-body">
                    <p>This course provides balanced coverage of database use and 
                        design,focusing on relational databases. Students will 
                        learn to design relational schemas, write SQL queries, 
                        access a DB programmatically,and perform database 
                        administration. Students will gain a working knowledge of 
                        the algorithms and data structures used in query evaluation
                         and transaction processing. Students will also learn to 
                         apply newer database technologies such as XML, NoSQL, and 
                         Hadoop.</p>
                </div>
            </div>
        </a>
        <div class="modal fade" id="cst363" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">CST363: Intro to Database Systems</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="pdf-container">
                        <iframe class="pdf" src="../img/cst363/database-report.pdf" frameborder="0" height="100%" width="100%"></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="modal-link btn resume-btn btn-primary" href="https://github.com/lom360" target="blank"><span>GitHub Repo Coming Soon</span></a>
                </div>
            </div>
            </div>
        </div>

        <a href="#" data-toggle="modal" data-target="#cst311">
            <div class="box cst311">
                <div class="box-header">
                    <h3>CST311</h3>
                </div>
                <div class="box-body">
                    <p>Survey of Telecomm and Data Comm Technology Fundamentals, 
                        Local Area Network, Wide Area Network, Internet and 
                        internetworking protocols including TCP/IP, network 
                        security and performance, emerging industry trends such as 
                        voice over the network and high speed networking. Designed 
                        as a foundation for students who wish to pursue more 
                        advanced network studies including certificate programs. 
                        Includes hands-on networking labs that incorporate Cisco 
                        CCNA lab components.</p>
                </div>
            </div>
        </a>
        <div class="modal fade" id="cst311" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">CST311: Intro to Computer Networks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <img src="img/cst311/client-server-output.PNG" alt="Client Server Output">
                    <%- include('cst311.ejs') %> 
                </div>
                <div class="modal-footer">
                    <a class="modal-link btn resume-btn btn-primary" href="https://github.com/lom360" target="blank"><span>GitHub Repo Coming Soon</span></a>
                </div>
            </div>
            </div>
        </div>

        <a href="#" data-toggle="modal" data-target="#cst336">
            <div class="box cst336">
                <div class="box-header">
                    <h3>CST336</h3>
                </div>
                <div class="box-body">
                    <p>Provides students with dynamic web application development 
                        skills, focusing on the integration of server-side 
                        programming, database connectivity, and client-side 
                        scripting. Coverage includes the Internet architecture, 
                        responsive design, RESTful web services, and Web APIs.</p>
                </div>
            </div>
        </a>
        <div class="modal fade" id="cst336" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">CST336: Internet Programming</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <h6>Website Link: <a class="weblink" href="https://bigswap.arlonarriola.repl.co/" target="blank">Swap Meet Website</a></h6>
                    <img src="img/cst336/swap-meet.png" alt="Swap Meet Homepage">
                </div>
                <div class="modal-footer">
                    <a class="modal-link btn resume-btn btn-primary" href="https://github.com/lom360" target="blank"><span>GitHub Repo Coming Soon</span></a>
                </div>
            </div>
            </div>
        </div>

        <a href="#" data-toggle="modal" data-target="#cst328">
            <div class="box cst328">
                <div class="box-header">
                    <h3>CST328</h3>
                </div>
                <div class="box-body">
                    <p>A survey course that combines the study of technology, 
                        design and aesthetic principles as they apply to 
                        twenty-first century visual media. Students learn how 
                        fundamental concepts of art and design apply to a broad 
                        range of commercial, expressive and entertainment forms. 
                        Students also study the democratization of the creative 
                        process through digital media, using current technology to 
                        produce sophisticated and expressive examples of personal 
                        digital creativity.</p>
                </div>
            </div>
        </a>
        <div class="modal fade" id="cst328" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">CST328: Digital Art Design</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <h5>Adobe Tools Used: Photoshop, Illustrator and Xd</h5>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Zv-WqFBVwKw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                    <a class="modal-link btn resume-btn btn-primary" href="https://github.com/lom360" target="blank"><span>GitHub Repo Coming Soon</span></a>
                </div>
            </div>
            </div>
        </div>

        <a href="#" data-toggle="modal" data-target="#cst370">
            <div class="box cst370">
                <div class="box-header">
                    <h3>CST370</h3>
                </div>
                <div class="box-body">
                    <p>Students learn important data structures in computer science
                        and acquire fundamental algorithm design techniques to get
                         the efficient solutions to several computing problems 
                         from various disciplines. Topics include the analysis of 
                         algorithm efficiency, hash, heap, graph, tree, sorting 
                         and searching, brute force, divide-and-conquer, 
                         decrease-and-conquer, transform-and-conquer, dynamic 
                         programming, and greedy programming.</p>
                </div>
            </div>
        </a>
        <div class="modal fade" id="cst370" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">CST370: Design and Analysis of Algorithms</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <%- include('cst370.ejs') %> 
                </div>
                <div class="modal-footer">
                    <a class="modal-link btn resume-btn btn-primary" href="https://github.com/lom360" target="blank"><span>Projects Coming Soon</span></a>
                </div>
            </div>
            </div>
        </div>

        <a href="#" data-toggle="modal" data-target="#cst462s">
            <div class="box cst462s">
                <div class="box-header">
                    <h3>CST462S</h3>
                </div>
                <div class="box-body">
                    <p>Provides students with key knowledge of race, gender, class 
                        and social justice especially in relation to technology in 
                        today’s digital world. Students challenge the barriers of 
                        expertise, gender, race, class, and location that restrict 
                        wider access to and understanding of the production and 
                        usage of new technologies. Students will engage in a 
                        practical experience in the community via their service 
                        placements, which will provide depth and context for 
                        considering questions of justice, equality, social 
                        responsibilities and the complexities of technology and 
                        its societal impact. The course uses scenario based 
                        approach combining presentations, discussions, and 
                        reflections to allow students explore the relationship 
                        between critical reflection and action on the topics 
                        mentioned above. </p>
                </div>
            </div>
        </a>
        <div class="modal fade" id="cst462s" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">CST462S: Race, Gender and Class in the Digital World</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="pdf-container">
                        <iframe class="pdf" src="../img/cst462s/digital-divide.pdf" frameborder="0" height="100%" width="100%"></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="modal-link btn resume-btn btn-primary" href="https://github.com/lom360" target="blank"><span>Github Repo Coming Soon</span></a>
                </div>
            </div>
            </div>
        </div>

        <a href="#" data-toggle="modal" data-target="#cst383">
            <div class="box cst383">
                <div class="box-header">
                    <h3>CST383</h3>
                </div>
                <div class="box-body">
                    <p>In data science, data analysis and machine learning 
                        techniques are applied to visualize data, understand 
                        trends, and make predictions. In this course students 
                        will learn how to obtain data, preprocess it, apply 
                        machine learning methods, and visualize the results. 
                        A student who completes the course will have enough 
                        theoretical knowledge, and enough skill with modern 
                        statistical programming languages and their libraries,to 
                        define and perform complete data science projects.</p>
                </div>
            </div>
        </a>
        <div class="modal fade" id="cst383" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">CST383: Introduction to Data Science</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="pdf-container">
                        <iframe class="pdf" src="../img/cst383/chess-data.pdf" frameborder="0" height="100%" width="100%"></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="modal-link btn resume-btn btn-primary" href="https://github.com/lom360" target="blank"><span>Github Repo Coming Soon</span></a>
                </div>
            </div>
            </div>
        </div>

        <a href="#" data-toggle="modal" data-target="#cst438">
            <div class="box cst438">
                <div class="box-header">
                    <h3>CST438</h3>
                </div>
                <div class="box-body">
                    <p>Prepares students for large-scale software development using
                        software engineering principles and techniques. Coverage 
                        includes software process, requirements analysis and 
                        specification, software design, implementation, testing, 
                        and project management. Students are expected to work in 
                        teams to carry out a realistic software project.</p>
                </div>
            </div>
        </a>
        <div class="modal fade" id="cst438" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">CST438: Software Engineering</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <br>
                    <h5>Example of Application</h5>
                    <img src="img/cst438/Slide1.png" alt="">
                    <img src="img/cst438/Slide2.png" alt="">
                    <img src="img/cst438/Slide3.png" alt="">
                    <img src="img/cst438/Slide4.png" alt="">
                    <img src="img/cst438/Slide5.png" alt="">
                    <br>
                    <h5>Software Requirements Specification</h5>
                    <div class="pdf-container">
                        <iframe class="pdf" src="../img/cst438/srs-report.pdf" frameborder="0" height="100%" width="100%"></iframe>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="modal-link btn resume-btn btn-primary" href="https://github.com/lom360/CST438-Gradebook-backend-Thin" target="blank"><span>Gradebook Backend Repository</span></a>
                    <a class="modal-link btn resume-btn btn-primary" href="https://github.com/lom360/CST438-Gradebook-frontend-Thin" target="blank"><span>Gradebook Frontend Repository</span></a>
                </div>
            </div>
            </div>
        </div>

        <a href="#" data-toggle="modal" data-target="#cst499">
            <div class="box cst499">
                <div class="box-header">
                    <h3>CST499</h3>
                </div>
                <div class="box-body">
                    <p>Students will work on a project in large groups (up to 5 students 
                        in each group), developing requirements specification, a solution 
                        plan followed by design and implementation of the solution. The 
                        problem statement for the projects will be selected by the faculty.
                         Faculty will also play the role of a project manager directing the 
                         schedule and deliverables for these projects.</p>
                </div>
            </div>
        </a>
        <div class="modal fade" id="cst499" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">CST499: Computer Science Capstone</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <h6>Website Link: <a class="weblink" href="https://www.bradleychess.com/" target="blank">bradleychess.com</a></h6>
                    <h6>Capstone Proposal: <a class="weblink" href="img/cst499/capstone-proposal.pdf" target="blank">open in new tab</a></h6>
                    <h6>Capstone Report: <a class="weblink" href="img/cst499/capstone-report.pdf" target="blank">open in new tab</a></h6>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/HlXtLt6fiLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="modal-footer">
                    <a class="modal-link btn resume-btn btn-primary" href="https://github.com/lom360/BradleyChess-Backend" target="blank"><span>Flask Backend Application</span></a>
                    <a class="modal-link btn resume-btn btn-primary" href="https://github.com/lom360/BradleyChess-Frontend" target="blank"><span>React Frontend Application</span></a>
                </div>
            </div>
            </div>
        </div>
        <!-- <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="box"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="box"></div>
        </div> -->
    </div>
</section>