<section id="projects" class="container">
    <div class="row justify-content-center">
        <div class="col-4 d-flex justify-content-center">
            <h1>Projects</h1>
        </div>
    </div>
    <div id="projects-content" class="row justify-content-center">
        <a href="">
            <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12">
            </div>
        </a>
        <a href="">
            <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12">
            </div>
        </a>
        <a href="">
            <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12">
            </div>
        </a>

        <!-- <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="box"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="box"></div>
        </div> -->
    </div>
</section>