<section id="projects" class="container">
    <div id="projects-title" class="row justify-content-center">
        <div class="col-4 d-flex justify-content-center">
            <h1>CSUMB</h1>
        </div>
    </div>
    <div id="projects-content" class="row justify-content-center">
        <a href="#" data-toggle="modal" data-target="#qrProject">
            <div class="box">
                <div class="box-header">
                    <h3>Java QR Project</h3>
                </div>
            </div>
        </a>

        <div class="modal fade" id="qrProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Java QR Reader</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p>More description will be coming soon!!!</p>
                </div>
                <div class="modal-footer">
                    <a class="modal-link btn resume-btn btn-primary" href="https://github.com/lom360" target="blank"><span>Visit Github</span></a>
                </div>
            </div>
            </div>
        </div>

        <a href="#" data-toggle="modal" data-target="#qrProject">
            <div class="box">
                <div class="box-header">
                    <h3>Java QR Project</h3>
                </div>
            </div>
        </a>
        <a href="#" data-toggle="modal" data-target="#qrProject">
            <div class="box">
                <div class="box-header">
                    <h3>Java QR Project</h3>
                </div>
            </div>
        </a>
        <a href="#" data-toggle="modal" data-target="#qrProject">
            <div class="box">
                <div class="box-header">
                    <h3>Java QR Project</h3>
                </div>
            </div>
        </a>
        <a href="#" data-toggle="modal" data-target="#qrProject">
            <div class="box">
                <div class="box-header">
                    <h3>Java QR Project</h3>
                </div>
            </div>
        </a>
        <a href="#" data-toggle="modal" data-target="#qrProject">
            <div class="box">
                <div class="box-header">
                    <h3>Java QR Project</h3>
                </div>
            </div>
        </a>

        <!-- <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="box"></div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="box"></div>
        </div> -->
    </div>
</section>