<section id="skills" clas="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 id="skills-title">Skills</h1>
        </div>
    </div>
    <div id="skill-content" class="row">
        <div class="col-xl-4 col-lg-6 col-md-12 d-flex flex-column align-items-center">
            <i class="theme-color fa-solid fa-code fa-5x"></i>
            <h3>HTML, CSS and JS</h3>
            <p>I have a few years experience developing websites with HTML, CSS and Javascript.
               I have also utilized the CSS framework known as Bootstrap and worked with preprocessors
               like SASS and LESS. I have also used the Javascript library knowns as JQuery.
            </p>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 d-flex flex-column align-items-center">
            <i class="theme-color fa-brands fa-node fa-5x"></i>
            <h3>Node.js</h3>
            <p>Created web applications using the Node.js runtime environment. Used Express
               for file management, and connected to API and a database.
            </p>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 d-flex flex-column align-items-center">
            <i class="theme-color fa-brands fa-python fa-5x"></i>
            <h3>Python</h3>
            <p>Applied performance array library such as Numpy and organized data using specialized
               dictionary library known as Pandas. Created data visualization with Matplot and Seaborn.
               Used <span class="theme-color">Sklit</span> library for Machine Learning.
            </p>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 d-flex flex-column align-items-center">
            <i class="theme-color fa-brands fa-java fa-5x"></i>
            <h3>Java</h3>
            <p>Created a program that functioned similar to a QR Code reader.
               Created a card game with a Java Spring framework. Used Android
               maker to create a basic app.
            </p>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 d-flex flex-column align-items-center">
            <i class="theme-color fa-solid fa-network-wired fa-4x"></i>
            <h3>Networking</h3>
            <p>Used Python to send encrypted code using TCP. Used python to
               simulate different devices on the network.
            </p>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 d-flex flex-column align-items-center">
            <i class="theme-color fa-solid fa-database fa-4x"></i>
            <h3>Database</h3>
            <p>Use mySql to manage a database. Used heroku to link front end
               web page to communicate with the back end.
            </p>
        </div>
    </div> 
</section>