<section id="skills" clas="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1 id="skills-title">Skills</h1>
        </div>
    </div>
    <div id="skill-content" class="row">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <i class="theme-color fa-solid fa-code fa-5x"></i>
            <h5>HTML, CSS and Javascript</h5>
            <p>I have a few years experience developing website with HTML, CSS and Javascript.
               I also have experience working with the javascript library know as JQuery and the
               CSS framework known as bootstrap.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <i class="theme-color fa-brands fa-node fa-5x"></i>
        </div>
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <i class="theme-color fa-brands fa-python fa-5x"></i>
        </div>
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <i class="theme-color fa-brands fa-java fa-5x"></i>
        </div>
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <i class="theme-color fa-solid fa-network-wired fa-5x"></i>
        </div>
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <i class="theme-color fa-solid fa-database fa-5x"></i>
        </div>
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <i class="theme-color fa-brands fa-java fa-5x"></i>
        </div>
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <i class="theme-color fa-brands fa-java fa-5x"></i>
        </div>
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">
            <i class="theme-color fa-brands fa-java fa-5x"></i>
        </div>
    </div>
    <div class="row"></div>
</section>