<%- include('partials/header.ejs') %>
<header id="head">
    <div class="container">
        <div class="row justify-content-center">
            <div id="portfolio" class="col-4">
                <img src="img/portfolio_picture.jpg" alt="Portfolio Picture">
            </div>
        </div>
        <div class="row justify-content-center">
            <div id="my-name" class="col-6">
                <h1>Sarom Thin</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <h3>Computer Science Undergrad(Final Semester) - IT Technician</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div id="portfolio-btn" class="col-3">
                <button type="button" class="btn btn-light">Enter Portfolio</button>
            </div>
        </div>
    </div>
</header>
<main id="about">
    <h1>About</h1>
</main>

<section id="skills">
    <h1>Skills</h1>
</section>

<section id="projects">
    <h1>Projects</h1>
</section>

<section id="contact">
    <h1>Contact</h1>
</section>
<%- include('partials/footer.ejs') %>