main {
    /* background-color: #E5E5E5; */
    /* background-color: #F2F2F2; */
    height: 550px;
    background-color: #edeeef;
    padding: 100px 1px;
}

#main-image {
    min-width: 350px;
}

#main-content {
    min-width: 500px;
}

#main-image div img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 7px white solid;
}

#main-content h3 {
    margin-bottom: 3px;
    font-weight: 700;
}

#main-content h5 {
    font-weight: 500;
}

#main-content p {
    margin: 20px auto;
    text-align: justify;
    line-height: 27px;
}

@media only screen and (max-width: 865px) {
    main {
        height: 870px;
    }

    #main-image {
        justify-content: flex-center;
    }
}