#contact {
    padding: 100px 30px;
    height: 765px;
    /* background-color: red; */
    background: url("../img/nasa1.png") no-repeat center; 
    /* background-image: linear-gradient(rgba(0, 0, 0, .60), 
	rgba(25, 25, 25, 0.45)
  ),url('../img/nasa1.png'); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
}

#info h1 {
    margin-bottom: 10px;
}

.form-control {
    height: 3.9rem;
    font-size: 1.3rem;
}

.contact-btn {
    /* margin-top: 50px; */
    height: 75px;
    width: 200px;
    background-color: #7546B9;
    border-color: #7546B9;
    font-size: 1.2rem;
    font-weight: 600;
    transition: ease-in 0.25s;
}

.contact-btn:hover {
    background-color: #8bd450;
    border-color: #8bd450;
}

@media(max-width: 767px) {
    #contact {
        padding: 10px 30px;
        height: 800px;
    }
    .form-control {
        height: 3.5rem;
        font-size: 1.2rem;
    }
    .spacer {
        display: none;
    }
    #message {
        height: 120px !important;
    }
    .contact-btn {
        /* margin-top: 50px; */
        height: 65px;
        width: 190px;
    }
    .alert {
        font-size: 0.9rem;
    }
}