footer {
    height: 180px;
}

.left-footer h5, .left-footer h6{
    margin: 0px auto;
}

h6 a {
    color: #7546B9;
    font-weight: 600;
}

h6 a:hover {
    color: #8bd450;
    /* font-weight: 600; */
}

#the-icons a {
    width: 100px;
    height: 100px;
    background-color: #7546B9;
    justify-content: center;
    border-radius: 50%;
    transition: ease-in 0.25s;
}

#the-icons a:nth-child(2) {
    position: relative;
    left: 18px;
}

#the-icons a:hover {
    background-color: #8bd450;
}

#the-icons a i {
    position: relative;
    margin: auto;
    color: white;
    
}

#the-icons a:first-child i {
    top: 24px;
    left: 29px;
}

#the-icons a:nth-child(2) i {
    top: 26px;
    left: 28.5px;
}