footer {
    /* padding: 40px 5px; */
    height: 180px;
}

.left-footer h5, .left-footer h6{
    margin: 0px auto;
}

.left-footer h5{
    margin-bottom: 6px;
    font-size: 0.85rem;
}

.left-footer h6{
    margin-bottom: 6px;
    font-size: 0.75rem;
}

h6 a {
    color: #7546B9;
    font-weight: 600;
}

h6 a:hover {
    color: #8bd450;
    /* font-weight: 600; */
}

#the-icons a {
    width: 75px;
    height: 75px;
    background-color: #7546B9;
    justify-content: center;
    border-radius: 50%;
    transition: ease-in 0.25s;
}

#the-icons a:nth-child(2) {
    position: relative;
    left: 18px;
}

#the-icons a:hover {
    background-color: #8bd450;
}

#the-icons a i {
    position: relative;
    margin: auto;
    color: white;
    
}

#the-icons a:first-child i {
    top: 21px;
    left: 23px;
}

#the-icons a:nth-child(2) i {
    top: 22px;
    left: 23px;
}

#copyright h5{
    font-size: 0.90rem;
}

@media(max-width: 1199px) {
    footer {
        height: 210px;
        padding-top: 17px;
    }
    .spacer {
        display: none;
    }
    .left-footer {
        margin-bottom: 9px;
    }
    #the-icons {
        margin-bottom: 12px;
    }
}