/* #navigation {
    height: 77px;
    transition: ease-in;
    transition-duration: 0.25s;
  } */
  
nav {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    z-index: 5;
    position: fixed;
    width: 100%;
}
  
  #navigation {
    height: 77px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 0px 24px; */
    top: 0;
    transition: ease-in;
    transition-duration: 0.25s;
  }
  
.nav-menu {
    padding: 0px;
    margin: 0px;
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.the-brand {
    width: 30%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

  #brand{
    font-size: 34px;
    font-weight: 700;
    color: #8bd450;
    position: relative;
  }
  
  .nav-link {
    color: white !important;
    font-weight: bolder;
  }
  
  
  .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    /* color: rgba(255,255,255,.5); */
    color: white;
  }
  
  .nav-link:hover{
    color: #C1E51A !important;
    color: #8bd450 !important;
  }

.hamburger {
    display: none;
    cursor: pointer;
    z-index: 5;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    background-color: white;
}

@media(max-width: 991px) {

  #navigation {
    padding-right: 30px;
    justify-content: space-between;
  }

  .the-brand {
    margin-left: 50px;
}

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        top: -100%;
        flex-direction: column;
        background-color: #343A40;
        width: 100%;
        transition: 0.75s;
    }

    .nav-item {
        margin: 16px 0;
        z-index: 2;
    }

    .nav-menu.active {
        top: 52px;
    }
}

  /* @media only screen and(max-width: 600px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2) {
        transform: translate(-8px) rotate(-45deg);
    }
} */