#projects {
    padding: 100px 50px;
    min-height: 1450px;
    max-width: 1500px;
    max-width: 100%;
    /* background-color: #edeeef; */
}

#projects-title {
    margin-bottom: 75px;
}

#projects-title div h1 {
    font-weight: 900;
    font-size: 3.5rem;
}

#projects-content a {
    margin: 15px 15px;
    height: 500px;
    width: 450px;
    color: #212529;
    text-decoration: none;
    /* background-image: linear-gradient(rgba(33, 37, 41, .2), 
	rgba(33, 37, 41, 0.2) ),url('../img/java-qr.png'); */
    /* background-repeat: no-repeat;
    background-size: 450px 500px;
    background-position: center center; */
    /* box-shadow: 5px 5px 10px;
    transition: width 1s, height 1s, margin 1s; */
}

.box {
    height: inherit;
    width: inherit;
    /* background-image: linear-gradient(rgba(33, 37, 41, .2), 
	rgba(33, 37, 41, 0.2) ),url('../img/java-qr.png'); */
    background-repeat: no-repeat;
    background-size: 450px 500px;
    background-position: center center;
    box-shadow: 5px 5px 10px;
    transition: width 1s, height 1s, margin 1s;
}

#projects-content a:hover > div{
    /* background-image: linear-gradient(rgba(117, 70, 185, .80), 
	rgba(117, 70, 185, 0.80) ),url('../img/java-qr.png'); */
    /* background-image: linear-gradient(rgba(117, 70, 185, .80), 
	rgba(117, 70, 185, 0.80) ); */
    height: 450px;
    width: 400px;
    margin: 30px 35px;
    color: #212529;
    text-decoration: none;
}
.box-header {
    padding-top: 7px;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: #343a40;
}
.box-header h3{
    color: #8bd450;
    font-weight: 600;
}

.modal-footer {
    padding: 10px;
    height: 85px !important;
}

.modal-link {
    position: relative;
    top: 0px;
    height: 55px !important;
    /* width: 1355px !important; */
    width: 100% !important;
}

.modal-link span{
    position: relative;
    top: 5px;
}


.cst300 {
    background-image: linear-gradient(rgba(33, 37, 41, .2), 
	rgba(33, 37, 41, 0.2) ),url('../img/cst300.png');
}
.cst300:hover {
    background-image: linear-gradient(rgba(117, 70, 185, .80), 
	rgba(117, 70, 185, 0.80) ),url('../img/cst300.png');
}

.cst338 {
    background-image: linear-gradient(rgba(33, 37, 41, .2), 
	rgba(33, 37, 41, 0.2) ),url('../img/cst338.png');
}
.cst338:hover {
    background-image: linear-gradient(rgba(117, 70, 185, .80), 
	rgba(117, 70, 185, 0.80) ),url('../img/cst338.png') !important;
}

.cst334 {
    background-image: linear-gradient(rgba(33, 37, 41, .2), 
	rgba(33, 37, 41, 0.2) ),url('../img/cst334.png');
}
.cst334:hover {
    background-image: linear-gradient(rgba(117, 70, 185, .80), 
	rgba(117, 70, 185, 0.80) ),url('../img/cst334.png') !important;
}

.cst363 {
    background-image: linear-gradient(rgba(33, 37, 41, .2), 
	rgba(33, 37, 41, 0.2) ),url('../img/cst363.png');
}
.cst363:hover {
    background-image: linear-gradient(rgba(117, 70, 185, .80), 
	rgba(117, 70, 185, 0.80) ),url('../img/cst363.png') !important;
}

.cst311 {
    background-image: linear-gradient(rgba(33, 37, 41, .2), 
	rgba(33, 37, 41, 0.2) ),url('../img/cst311.png');
}
.cst311:hover {
    background-image: linear-gradient(rgba(117, 70, 185, .80), 
	rgba(117, 70, 185, 0.80) ),url('../img/cst311.png') !important;
}

.cst336 {
    background-image: linear-gradient(rgba(33, 37, 41, .2), 
	rgba(33, 37, 41, 0.2) ),url('../img/cst336.png');
}
.cst336:hover {
    background-image: linear-gradient(rgba(117, 70, 185, .80), 
	rgba(117, 70, 185, 0.80) ),url('../img/cst336.png') !important;
}

.cst328 {
    background-image: linear-gradient(rgba(33, 37, 41, .2), 
	rgba(33, 37, 41, 0.2) ),url('../img/cst328.png');
}
.cst328:hover {
    background-image: linear-gradient(rgba(117, 70, 185, .80), 
	rgba(117, 70, 185, 0.80) ),url('../img/cst328.png') !important;
}

.cst370 {
    background-image: linear-gradient(rgba(33, 37, 41, .2), 
	rgba(33, 37, 41, 0.2) ),url('../img/cst370.png');
}
.cst370:hover {
    background-image: linear-gradient(rgba(117, 70, 185, .80), 
	rgba(117, 70, 185, 0.80) ),url('../img/cst370.png') !important;
}

.cst462s {
    background-image: linear-gradient(rgba(33, 37, 41, .2), 
	rgba(33, 37, 41, 0.2) ),url('../img/cst462s.png');
}
.cst462s:hover {
    background-image: linear-gradient(rgba(117, 70, 185, .80), 
	rgba(117, 70, 185, 0.80) ),url('../img/cst462s.png') !important;
}

.cst383 {
    background-image: linear-gradient(rgba(33, 37, 41, .2), 
	rgba(33, 37, 41, 0.2) ),url('../img/cst383.png');
}
.cst383:hover {
    background-image: linear-gradient(rgba(117, 70, 185, .80), 
	rgba(117, 70, 185, 0.80) ),url('../img/cst383.png') !important;
}

.cst438 {
    background-image: linear-gradient(rgba(33, 37, 41, .2), 
	rgba(33, 37, 41, 0.2) ),url('../img/cst438.png');
}
.cst438:hover {
    background-image: linear-gradient(rgba(117, 70, 185, .80), 
	rgba(117, 70, 185, 0.80) ),url('../img/cst438.png');
}

@media only screen and (max-width: 1526px) {
    #projects {
        padding: 50px;
        min-height: 1800px;
    }

    #projects-title {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 1046px) {
    #projects {
        padding: 10px;
        min-height: 1700px;
    }
}

@media only screen and (max-width: 966px) {
    #projects {
        padding: 10px;
        min-height: 3300px;
    }
}