#projects {
    height: 3000px;
    max-width: 1500px;
    /* background-color: #edeeef; */
}

#projects-content a {
    padding: 0px 30px;
    margin: 15px 15px;
    height: 500px;
    width: 450px;
    color: #212529;
    background-image: linear-gradient(rgba(25, 25, 25, .30), 
	rgba(25, 25, 25, 0.30) ),url('../img/grant-porter.jpg');
    box-shadow: 5px 5px 10px;
}

.box {
    color: #212529;
    background-color: #7546B9;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    background-image: linear-gradient(rgba(25, 25, 25, .30), 
	rgba(25, 25, 25, 0.30)
  ),url('../img/grant-porter.jpg');
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    /* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px; */
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px; */
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset; */
    box-shadow: 5px 5px 10px;
}
