#skills {
    padding: 100px 300px;
    height: 1500px;
    color: white;
    /* color: #EDEEEF; */
    /* color: white; */
    /* background-color: #1AC1E5; */
    /* background-color: #A41AE5; */
    /* background-color: #9c2ed1; */
    /* background-color: #9436c9; */
    background-color: #8938c7;
    background-color: #8247b8;
    background-color: #7546B9;
    /* background-color: #754BB4; */
    /* background-color: #9843BC; */
}

#skills-title{
    font-weight: 900;
    font-size: 3.5rem;
}

/* #skill-content {
    height: 300px;
} */

#skill-content div {
    height: 300px;
    min-width: 300px;
}

#skill-content div i{
    height: 125px;
    width: 125px;
    background-color: white;
    /* background-color: #EDEEEF; */
    border-radius: 50%;
}

#skill-content div:first-child i {
    padding-top: 20px;
    padding-left: 13px;
}

#skill-content div:nth-child(2) i {
    padding-top: 25px;
    padding-left: 14px;
}

#skill-content div:nth-child(3) i {
    padding-top: 22px;
    padding-left: 26px;
}

#skill-content div:nth-child(4) i {
    padding-top: 15px;
    padding-left: 30px;
}

#skill-content div:nth-child(5) i {
    padding-top: 27px;
    padding-left: 22px;
}

#skill-content div:nth-child(6) i {
    padding-top: 29px;
    padding-left: 33px;
}

@media only screen and (max-width: 1386px) {

}