@import "about.css";
@import "skills.css";

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@keyframes change-nav-height {

}

#navigation {
  height: 77px;
  transition: ease-in;
  transition-duration: 0.25s;
}

body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  z-index: 3;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
}

/* .navbar:first-child {
  width: 100px;
} */

#brand{
	font-size: 34px;
	font-weight: 700;
  color: #C1E51A;
  /* color: #47B864; */
  /* color: #ACC936; */
  position: relative;
  left: 100px;
}

#navbarNav {
	font-size: 18px;
  position: relative;
  right: 12px;
}

.nav-item {
	margin: auto 7px;
}

/* a {
  color: white !important;
} */

.nav-link {
  color: white !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  /* color: rgba(255,255,255,.5); */
  color: white;
}

.nav-link:hover{
  color: #C1E51A !important;
}

.addNavColor {
  color: #C1E51A !important;
}

.theme-color {
  color: #C1E51A !important;
}

header {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  color: white;
  text-align: center;
	/* background-image: linear-gradient(rgba(25, 25, 25, .90), 
	rgba(25, 25, 25, 0.50)
  ),url('../img/grant-porter.jpg'); */
  background-image: linear-gradient(rgba(15, 15, 15, .75), 
	rgba(25, 25, 25, 0.45)
  ),url('../img/grant-porter.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  background-attachment: fixed;
} 

header div {
  position: relative;
  top: 85px;
}

#portfolio img{
  margin: auto;
  height: 250px;
  width: 250px;
  border: 7px solid #fff;
  border-radius: 50%
}

#my-name {
  margin: 10px auto;
}

#my-name h1 {
  font-size: 75px;
}

#portfolio-btn {
  margin: 50px auto;
}

/* #portfolio-btn button{
  height: 75px;
  width: 200px;
  font-size: 1.5em;
  font-weight: 500;
} */

#portfolio-btn a {
  height: 75px;
  width: 200px;
  padding: 17px 0;
  font-size: 1.5em;
  font-weight: 500;
}

.test {
	height: 1000px;
}


@media only screen and (max-width: 991px) {
  #my-name h1 {
    font-size: 63px;
  }

  header div {
    position: relative;
    top: 40px;
  }
}

@media only screen and (max-width: 767px) {
  #portfolio-btn {
    position: relative;
    right: 50px;
  }

  #portfolio img{
    height: 195px;
    width: 195px;
  }
}

@media only screen and (max-height: 1000px) {
  header {
    height: 1000px;
  }
}

@media only screen and (max-width: 750px) {
  /* header {
    height: 700px;
  } */

  header .containter {
    margin: 0px;
  }

  #my-name h1 {
    font-size: 41px;
  }

  #summary h3 {
    font-size: 21px;
  }
}

@media only screen and (max-width: 667px) {
  header .containter {
    margin: 0px;
  }

  #my-name h1 {
    font-size: 41px;
  }

  #portfolio img{
    height: 175px;
    width: 175px;
  }
}


html {
  scroll-behavior: smooth;
}